:root {
    --primary-color: #d6d8d6   ;
    --secondary-color: #306939 ;
    --accent1-color: black;
  
    --heading-font: "Seymour One", sans-serif;
    --paragraph-font: "Merriweather", sans-serif;
  }
  

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
  }

  header {
    font-family: "Seymour One", sans-serif;
    padding: 1em;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }

  main{
    font-family: "Merriweather", sans-serif;
  }

  body{
    background-color: var(--primary-color);
  }
